@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
html, body, #app {
  height: 100%;
}
body, input, button {
  font: 14px 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}

body {
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(-45deg, #aaa 25%, #eee 100%);
  background-attachment: fixed;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

#app.logged {
  align-content: start;
  margin-top: 20px;
}

button, input {
  border: 0;
}

.logo {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  flex-basis: 100%;
}

.login {
  width: 100%;
}

.form {
  background-color: #e0e0e0;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  border-radius: 20px 1px 20px 0;
  box-shadow: 0px 0px 15px -10px;
}

.form__input {
  background-color: #d2d2d2;
}

.form__button{
  background-color: #008428;
  color: white;
}

.form__button:hover {
  background-color: #00a333;
}

.form__button:disabled {
  background-color: #d1d1d1;
}

.form__input, .form__button {
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 10px;
  flex-basis: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container__item {
  margin: 5px;
  background-color: white;
  border-radius: 3px;
  flex-grow: 1;
  box-shadow: 0px 0px 8px -4px;
}

.container__item_link {
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.container__avatar {
  width: 30px;
  border-radius: 20px;
  margin-right: 10px;
  transition: all .3s;
}

.container__item:hover .container__avatar {
  transform: scale(2);
}

.container__text {
  color: #666;
}

@media (min-width: 425px) {
  .login {
    width: 380px;
  }

  .container {
    width: 425px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 600px;
  }
}
